{% extends '::administration.html.twig' %}
{% set token = csrf_token('') %}

{% block h1 %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <a class="btn btn-green btn-sm entypo add-user" href="{{ path('formulaire_creation_utilisateur') }}">Ajouter un utilisateur</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.nom|upper }}</td>
                    <td>{{ utilisateur.prenom|capitalize }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('formulaire_modification_utilisateur', {'utilisateurId': utilisateur.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                            <a href="{{ path('suppression_utilisateur', {'utilisateurId': utilisateur.id}) }}" class="btn btn-danger btn-sm js_delete" data-csrf="{{ token }}">Supprimer</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js_delete').click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: $(this).data('href'),
                    type: 'delete',
                    data: {
                        _token: $(this).data('csrf')
                    },
                    success: function (json) {
                        console.log(json);
                    }
                });
            });
        });
    </script>
{% endblock %}
