{% extends '::administration.html.twig' %}
{% set token = csrf_token('') %}

{% block h1 %}Gestion des marques{% endblock %}

{% block body %}
    <a class="btn btn-green btn-sm entypo add-to-list" href="{{ path('formulaire_creation_marque') }}">Ajouter une marque</a>
    <table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for marque in marques %}
                <tr>
                    <td>{{ marque.libelle }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('formulaire_modification_marque', {'marqueId': marque.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                            <a href="{{ path('suppression_marque', {'marqueId': marque.id}) }}" class="btn btn-danger btn-sm js_delete" data-csrf="{{ token }}">Supprimer</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js_delete').click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: $(this).data('href'),
                    type: 'delete',
                    data : {
                        _token: $(this).data('csrf')
                    },
                    success : function(json){
                        console.log(json);
                    }
                });
            });
        });
    </script>
{% endblock %}
